@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <h1>This is the Login View</h1>

    <p>
        <a href="@Url.RouteUrl("login")">Click Here</a> to login!
    </p>
    <p>
       @Html.RouteLink("Click Here","login") to login!
    </p>
